<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Werkstattlager" connectionString="Data Source=s-db02-ms\azubiprojekt;Database=Werkstattlager;User ID=FIAE_Ausbildung;Password=mDf:Y=&lt;MUawP-uX9;TrustServerCertificate=true;"/>
	</connectionStrings>
</configuration>